@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<h1>Alemão Menu</h1>

<ul class="nav flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="/alemanho/overview">Overview</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/alemanho/grammar">Grammar</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/alemanho/vocabulary">Vocabulary</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/alemanho/pronunciation">Pronunciation</NavLink>
    </li>

@code {

}
